@font-face {
    font-family: Dos1;
    src: url(Linebeam.ttf);
}

::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-thumb {
    background: #8a8a8a; 
    border-radius: 0px; 
}

body {
    background-color: rgb(0, 0, 0);
}

p {
    text-align: center;
    margin-bottom: -10px;
}

#text_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: 90vh;
    font-family: Dos1;
    font-size: xx-large;
    color: white;
}



