* {
    padding:0%;
    margin: 0%;
}

@font-face {
    src: url(fonts/Monospaced/ModernDOS8x16.ttf);
    font-family: Dos1;
}

::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000dc;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);
  }

body {
    background: url(images/windows98.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#myConsole {
    background-color: rgb(10, 10, 10);
    border: solid 3px rgb(192, 192, 192);
    color: white;
    height:  auto;
    width: 1024px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px #00000069;

}

#topBar {
    background-color: rgb(0, 48, 138);
    height: 26px;
    border-bottom: solid 3px rgb(192, 192, 192);
    width: auto;
}

#cmdtext {
    font-family: Dos1;
    position: relative;
    text-align: center;
    bottom: 20px;
}

.icons {
    float: right;
}

#consoleIco {
    position: relative;
    top: 2px;
    left: 2px;
}

.links {
    color: rgb(0, 100, 30);
}

.commandTexts {
    font-family: Dos1;
    padding: 1%;
}

#red {
    color: rgb(168, 0, 0);
}

@media only screen and (max-width:1366px) {
    #myConsole {
        width: 85%;
    }
    .icons {
        left: 69%;
    }
  }

@media only screen and (max-width:490px) {
    #decorate {
        display: none;
    }
    .links {
        text-align: left;
    }
  }

  @media only screen and (max-height:768px) {
    * {
        font-size: 12px;
    }
  }
